* {
  box-sizing: border-box;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

nav {
  height: 12vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #B3ACAC 0%, #CCFFFF 91%); 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Changa', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 7vh;
  padding-left: 2.5vw;
}

.user-info {
  width: 58vw;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-details {
  padding-top: 1vh;
}

.user-name {
  text-align: left;
  font-size: 5vh;
  font-weight: 400;
}

main {
  background: linear-gradient(to bottom right, #C1CFD4 0%, #FFFFFF 91%);
  width: 100vw;
  height: 88vh;
  font-weight: bolder;
  font-family: 'Abel', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.data-container {
  width: 70vw;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-container {
  width: 70vw;
  height: 25vh;
  background: linear-gradient(to bottom right, #FF9933 11%, #FF0000 97%);
}

.sleep-container {
  width: 70vw;
  height: 25vh;
  background: linear-gradient(to bottom right, #FF33CC 3%, #9900CC 93%);
}

.hydration-container {
  width: 70vw;
  height: 25vh;
  background: linear-gradient(to bottom right, #0066FF 48%, #000099 95%);
}

.friends-goals-container {
  width: 23vw;
  height: 84vh;
  background: linear-gradient(to bottom right, #86F4EE 10%, #33CCCC 99%);
}

.user-goals {
  text-align: center;
}

.title-date {
  font-size: 2.7vh;
}

.user-step-goals {
  font-size: 3vh;
}